* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.site-title {
  font-family: 'Asap', sans-serif;
  color: white;
  margin-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

section {
  background-color: #272A35;
}

.gsap-examples {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.example-grid {
  font-family: 'Asap', sans-serif;
  display: flex;
  gap: 20px;
}

a {
  text-decoration: none;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 300px;
  border-radius: 10px;
  background-color: black;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s ease-in-out;
}

.card:hover {
  background-color: #05AA6D;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
